html {
  position: relative;
  min-height: 100%;}

body{

  background-color: #ffe6e6;
  
}
 /* This is background without image */

 /*
.bg-image{
 background-image: url("Images/yog.jpg");

  height:400px;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  } */
  /* This is background with image */


header{
}


 

h1{
   display: block;
    margin: 0px auto;
     text-align: center;
  font-family: 'BenchNine', sans-serif;
  font-size: 60px;
    color: #993366; 
margin-top: 0px;
     
}

   /* banner web title */


h2{
  color: #ac3973;
  display: block;
    margin: 0px auto;
     text-align: center;
     
      font-size: 20px;  
}  

/* This is the greeting under banner, #2e1513; */


h3, a{ 
  color:   #993366;
font-size: 30px;
text-align: center;
  display: block;


}


/* This is paragraph title*/


h4{

  font-family: 'BenchNine', sans-serif;
  color:  black; /*#6a6868*/
  font-size: 18px;
  letter-spacing: 0px;
   text-align: center;


}


h5{

  font-family: 'Arial',serif;
  color: #000000;
  font-size: 11px;
  letter-spacing: 1px;
  padding-left: 3px;}


/* This is copyright message */

h6{

  font-family: 'Arial',serif;
  color:  #6a6868;
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 3px;}


p{

font-family: 'Lucida Bright';
color:   #343232;
letter-spacing: .5px;
font-size: 26px;
text-align: center;
}



ul{

  color: red;
-webkit-backface-visibility: hidden;

}

li{

  color: #ffffff;
list-style-type: none;
text-align: center;

}


.blogtitle {

background-image: url("imagesicons/cbelvietitle.jpg");
background-size: 500px;
  height:100px;


 background-position: 350px;
background-repeat: no-repeat;
 display: inline-block;
 width: 100%;


  


}



.title-image {

background-image: url("imagesicons/cheeseca.jpg");
background-size: 500px;
  width:500px;
  height:400px;
background-repeat: no-repeat;

background-position: 352px;

 display: inline-block;
 width: 100%;



}



.title-imagewords h2{

  font-size: 17px;
  padding-left: 0px;
 padding-right:6px;


}



 @media (max-width: 768px) {
.blogtitle {

background-image: url("imagesicons/cbelvietitle.jpg");
background-size: 325px;
 padding-top: 15px;


  height:60px;

  margin-left: 0px;
 background-position: 15px;
background-repeat: no-repeat;
 display: inline-block;
 width: 100%;


  

}
}


 @media (max-width: 768px) {
.title-image {

background-image: url("imagesicons/cheeseca.jpg");
background-size: 373px;
  width:335px;
  height:260px;
background-repeat: no-repeat;
background-position: 1px;
 display: inline-block;
 width: 100%;

}
}


 @media (max-width: 768px) {
.title-imagewords h2{

  font-size: 17px;
  padding-left: 0px;
 padding-right:2px;

}
}




.banner{
 
    display: block;
    margin: 0px auto;
    text-align: center;
    color: #8B320C;
    
  }

 /* banner web title */

.navbar-default {
  background: none;
  border: none;
  display: inline-block;

  }
    /* navigation bar */

  .navbar-default .navbar-nav>li>a {
color: #8B320C;

}

/* navigation bar with menu items */

.navbar-default .navbar-nav>.active>a {
  color: #8B320C  !important;
  background: white !important;
}

/* navigation selected active item on menu */



.dropdown-menu a{
color: white !important;
text-align: center !important;
margin-right: 50px;
   
}
/*Dropdown menu a big screen*/

@media (max-width: 768px) { 
.dropdown-menu a{
color: red !important;
text-align: center !important;
margin-right: 20px;}

}
/*Dropdown menu a small screen*/



.dropdown-menu{
  font-size: 19px; 
  background: none;

}

/*Dropdown menu big screen*/

.dropdown a:hover  {
color:  red !important;
background: transparent !important;

}

/*Dropdown menu a big screen hover color*/

.navbar a:hover {
  color: red !important; /* Add a hover color */
background: transparent !important;
}

/*navbar menu a big screen hover color*/


@media (min-width: 768px) { 
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; }

}
}
/*Dropdown menu a small screen hover color*/


.col-xs-6 {

  
  padding-top: 0px ;
padding-right: 0px; 
 padding-bottom: 0px ; 
padding-left: 100px; 
width: 90%;
}
  /*{padding :0 2px;} had this in .col-xs-6*/


.paypal {

 width: 55%;
  padding-left: 300px; 

}

.paypal input[type="image"] {
  border:0 none !important;
}
.paypal input[type="image"]:active {
  border:0 none !important;
}

 /* Content in Row full screen sizing */



.itemdescription {
  text-align: left;
 padding-left: 350px;


}

.itemdescription h3 {
  text-align: left;
color:    #000000;
font-size: 30px;

}


.itemdescription p {
  text-align: left;
color:    #343232;
font-size: 23px;
font-style: italic;


}


.displaydescription h3 {
 
color:    #000000;
font-size: 30px;

}


.dispaydescription p {
 
color:    #343232;
font-size: 23px;
font-style: italic;


}


.itemprice h3 {
 text-align: left;
color:     #ac3973;
font-size: 30px;

}



#con{width: 100%;

}

/* Content in myphoto full screen sizing */


 .biocontent{

background-image: url("imagesbakery/almond.jpeg");

background-size: 500px;
  width:500px;
  height:800px;

  
background-position: 340px;

  background-repeat: no-repeat;
  width: 100%;

}




.displayitem img{

display: inline-block;

  width:300px;
 padding-left:10px;

  background-repeat: no-repeat;

}

 /* 
.chipcookdisplay{

background-image: url("imagesbakery/almond.jpeg");

background-size: 500px;
  width:500px;
  height:800px;

  
background-position: 340px;

  background-repeat: no-repeat;
  width: 100%;

 
}*/

 /* background-position: 5px;*/



.bakeryitem1 img{

 /* background-image: url("Imagesweet/chip2.jpg"); */

display: inline-block;
 /* background-size: 300px; */
  width:670px;
 padding-left:350px;
  
 /* background-position: 5px; 
  margin-left: 0px;
  margin-right: 0px;
background-position: 30px; */

  background-repeat: no-repeat;


  
}


.bakeryitem2 img{

  /* background-image: url("Imagesweet/chip.jpg"); */
display: inline-block;

  width:670px;
 padding-left:350px;

 /* background-position: 5px; 
  margin-left: 0px;
  margin-right: 0px;
background-position: 30px; */

  background-repeat: no-repeat;
 

  
}


.chipprice{
background-image: url("imagesicons/chipprice.jpg");

background-size: 100px;
  width:200px;
  height:100px;
 /* background-position: 5px;*/
  margin-left: 0px;
  margin-right: 0px;
background-position: 30px;

  background-repeat: no-repeat;
  width: 100%;

  
}


* {
  box-sizing: border-box;
}

/* Position the image container (needed to 
position the left and right arrows) */
.containergallery {
  position: relative;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;


}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-containergallery {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.rowgallery:after {
  content: "";
  display: table;
  clear: both;
 

}

/* Six columns side by side */
.columngallery {
  float: left;
  width: 13.66%;

}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;

}

.rowgallery{

padding-left: 350px;

}




 @media (max-width: 768px) {
#myphoto{
padding-left:0px !important;
}}

 /* Content in myphoto small screen sizing */

 @media (max-width: 768px) {
.col-xs-6{
  padding :0 8%;
 display: inline-block;
width: 100%;

}
}
 /* Content in Row small screen sizing */



@media (max-width: 768px) {
.paypal {

  width: 100%;
  padding-left: 20px; 

}
}

@media (max-width: 768px) {
.displayitem img{

display: inline-block;
 width:200px;
  
   margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 10px;

  background-repeat: no-repeat;
  width: 100%;

}
}


 /*
@media (max-width: 768px) {
.chipcookdisplay{

background-image: url("imagesbakery/almond.jpeg");

 /* background-size: 300px; */
  /*
  width:300px;
  height:500px;
 /* background-position: 5px; */
  /* margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;

  background-repeat: no-repeat;
  width: 100%;

}
}
*/

 @media (max-width: 768px) {
.bakeryitem1 img {
 /* background-image: url("Imagesweet/chip2.jpg"); */
display: inline-block;
 /* background-size: 300px; */
  width:500px;
  
 /* background-position: 5px; */
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;

  background-repeat: no-repeat;
  width: 100%;

  
}
}


 @media (max-width: 768px) {
.bakeryitem2 img {
 /* background-image: url("Imagesweet/chip.jpg"); */
display: inline-block;
 /* background-size: 300px; */
  width:500px;
  
 /* background-position: 5px; */
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;

  background-repeat: no-repeat;
  width: 100%;

  
}
}



 @media (max-width: 768px) {
.rowgallery{

padding-left: 0px;

}
}


@media (max-width: 768px) {
.itemdescription {
text-align: left;
 padding-left: 50px;

}
}

@media (max-width: 768px) {
.itemdescription h3 {
text-align: left;



}
}

@media (max-width: 768px) {
.itemdescription p {
text-align: left;




}
}

@media (max-width: 768px) {
.itemprice h3 {
text-align: left;



}
}


@media (max-width: 768px) {
.displaydescription {
text-align: left;
 padding-left: 50px;

}
}

@media (max-width: 768px) {
.displaydescription h3 {




}
}

@media (max-width: 768px) {
.displaydescription p {
text-align: left;




}
}


 @media (max-width: 768px) {
#filltext{
width: 100% !important;


}
}
 /* Content in mytext small screen sizing */



 @media (max-width: 768px) {
#measurements{
width: 100% !important;

}
}
 /* Content in measurements in small screen sizing */


@media (max-width: 768px) {

.footer{

 padding-left: 0px;
 padding-right: 0px;

  position: absolute;
  bottom: 0;
  width: 100% !important;
  /* Set the fixed height of the footer here */
  height: 0px;
-webkit-backface-visibility: hidden;

/* the footer content*/


}
}

@media (min-width: 360px) 
and    (max-width: 390px) {
  body {
  width: 100% !important; /* Full-width in small devices */
  /* Dark-grey background */
  overflow: auto; /* Overflow due to float */


/* icon bar at the bottom small screens */







}}



/*footer*/

.section{
padding :0px;
margin-left: 19px;
color: red;
font-size: 26px;
font-family: 'Arial',serif;


}

.custom{

   padding-left: 0px;
    padding-right: 100px;

   background-color: black;   
    

}


.container{

text-align: center;
 
font-family: 'Arial',serif;
font-size: 25px;
 margin-bottom: 135px;   /*this is for dropdown bottom space*/

}
/*this is for dropdown menu*/




.link a{color: white;
font-family: 'Arial',serif;
font-size: 25px;
text-align: center;
}

/*mytext link color*/

#filltext{
  width: 100%;
display: inline;
  font-family: 'Arial',serif;
  font-size: 22px;
  padding-left: O px
}



#measure{
  width:30%;
 padding-left:
}


#measurements{
  width:50%;
 padding-left:
}
/* measurement text */

.artist{
      display:none;
    }
/* Field must be filled */


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}



table {
  margin-left: auto;
  margin-right: auto;

}
/*form settings start here*/
input,
textarea,
label {
    font-family: 'Poppins',
        sans-serif;
 font-size: 18px;

        
}
/*
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;*/
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 70%;
    color:  #8b4141;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}


input[type=submit]:hover {
    background: #FFF;
    color: #1b1c1e;
}


input,
textarea {
    color:black ;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;
}
/*form settings ends here*/



/*form*/

/*
.menubottom a{

color:#6b6666;
padding-left: 100px;
padding-right: 100px;

opacity: 0.9;
font-family: 'Arial',serif;
font-size: 18px;
list-style-type: none;
-webkit-backface-visibility: hidden;

}*/
/* the bottom menu links */

.icon-bar {
  width: 100%; /* Full-width */
  background-color:    #ffb3b3; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}
/* icon bar at the bottom  */

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 8%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 8px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 0px; /* Increased font size */
}

/* icon bar a link at the bottom  */

.icon-bar a:hover {
  background-color:  #6a6868; /* Add a hover color */

}

/* hover for icon bar a link at the bottom  */

 /*.active {
  background-color: white; /* Add an active/current color */



 @media (max-width: 768px) {
.icon-bar{
width: 100%;

}
}

.footer{

 padding-left: 0px;
 padding-right: 0px;

  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 0px;
-webkit-backface-visibility: hidden;
}
/* the footer content*/



}






